<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Username</title>
</head>
<center>
<font face="Consolas" color="white">
<h1>forum</h1>
</center>
<body bgcolor="rgb(50,50,50)">
    <h1>Enter Your Username</h1>
    <form action="/set-username" method="post">
        <input type="text" name="username" placeholder="Your Username" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>